<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Interactive Map</title>

</head>

<div class="flex-container">
    <div class="image-container">
        <img class="room-image" src="/static/outsite-co-R-LK3sqLiBw-unsplash.jpg">

        <button class="left-button">Left</button>
        <button class="right-button">Right</button>
    </div>

    <div class="navigation-container">
        <div class="map-container">
            <img class="map" src="/static/outsite-co-R-LK3sqLiBw-unsplash.jpg">
        </div>
        <div class="description-container">
            <h1 class="description-header">The Awesome Room</h1>
            <p class ="description">
                This room is truly awesome, because it is the awesomest of awesome rooms.
            </p>
        </div>
    </div>
</div>



</html>